.document-list {
  max-width: 1500px;
  margin: auto;
  padding: 145px;
  background-color: #9971634a; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.document-list-title {
  font-size: 54px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 5px;
  color: #6b0a0a; 
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background-color: #be51296e; 
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.document-list-items {
  list-style: none;
  padding: 20px;
}

.document-item {
  margin-bottom: 20px; 
}

.document-link {
  display: block;
  padding: 10px;
  background-color: #0a5f97; 
  color: #fff; 
  text-decoration: none;
  border-radius: 15px; 
  font-size: 24px;
  transition: background-color 0.1s ease;
}

.document-link:hover {
  background-color: #062b43; 
}

