/* survey.css */

.survey-container {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.question {
  margin-bottom: 20px;
}

.options {
  display: flex;
  flex-direction: row;
 
}

.radio-label {
  margin-right: 30px;
}

.radio-label input {
  margin-right: 15px; 
}

.submit-button {
  text-align: center;
  margin-top: 20px;
}

.styled-button {
  background-color: #31a461;
  color: #fff;
  font-size: 22px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.styled-button:hover {
  background-color: #218c54;
}

